.App {
  text-align: center;
}

.carousel {
  height: 750px;
}

.social-icon-initial, .social-icon-subsequent {
  display: inline-block;
  padding: 20px;
}

.social-icon-subsequent {
  padding: 20px 20px 20px 0px;
}

.social-container-mobile {
  position: relative;
  float: right;
}

.social-container-desktop {
  position: absolute;
  right: 5px; 
  top: 25px;
}

.carousel-item-mobile {
  width: 275px !important;
  height: 350px !important;
}

.carousel-item-desktop {
  width: 300px !important;
  height: 400px !important;
}

ul {
  margin: 0
}
