.App {
  text-align: center;
}

.copyright {
  padding: 25px 0px 0px 20px;
}

.card-container {
  width: 75%;
}

.card {
  margin-top: 50px;
}

.highlight {
  background-color: black;
  color: white;
  padding: 0px 5px 0px 5px;
}

.social-icon-initial,
.social-icon-subsequent {
  display: inline-block;
  padding: 20px;
}

.social-icon-subsequent {
  padding: 20px 20px 20px 0px;
}

.social-container {
  position: relative;
  float: right;
}

.tag {
  display: inline-block;
  margin: 5px 5px 0px 0px;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
}

.background {
  width: 100%;
  padding: 100px 0px 50px 0px;
  background-image: url('./images/background-image-2.png');
}

ul {
  margin: 0;
}

@media (min-width: 700px) {
  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
  }

  .social-container {
    position: absolute;
    right: 5px;
    top: 25px;
  }

  .background {
    width: 100%;
    padding: 200px 0px 25px 0px;
    background-image: url('./images/background-image.png');
  }

  .copyright {
    padding: 100px 0px 0px 20px;
  }

  .card-container {
    width: 85%;
  }
}

@media (min-width: 1000px) {
  #toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
  }

  .social-container {
    position: absolute;
    right: 5px;
    top: 25px;
  }

  .background {
    width: 100%;
    padding: 200px 0px 25px 0px;
    background-image: url('./images/background-image.png');
  }

  .copyright {
    padding: 100px 0px 0px 20px;
  }

  .card-container {
    width: 60%;
  }
}
