.App {
  text-align: center;
}

.background {
  width: 100%;
  padding: 50px 0px;
  background-image: url('./images/space-backing.png');
}

.background-black {
  background-color: black;
}

.blog-button {
  display: inline-block;
  padding: 20px;
}

.border {
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.border-bottom {
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

.border-round {
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
}

.border-top {
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}

.card {
  margin: 50px 0px 0px 0px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.card-container {
 width: 85%;
 padding: 50px 0px;
}

.card-content {
  padding: 5px 15px 0px 15px !important;
}

.dropdown-button {
  padding: 20px;
}

.dropdown-content li i {
  width: 100% !important; 
}

.dropdown-icon {
  margin: 0;
}

.dropdown-trigger {
  border: 1px;
  border-color: white;
  border-style: solid;
}

.footer {
  border-top: 1px;
  border-top-color: white;
  border-top-style: solid;
  margin: 0;
}

.header-border {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  margin: 0;
}

.header-button-initial,
.header-button-subsequent {
  display: inline-block;
  padding: 20px;
}

.header-button-subsequent {
  padding: 20px 20px 20px 0px;
}

.header-text {
  display: inline-block;
  padding-bottom: 10px;
}

.highlight {
  background-color: white;
  color: black;
  padding: 0px 5px 0px 5px;
  border-radius: 5px;
}

.post-card-button {
  width: 100%;
  background-color: white;
}

.post-card-description {
  padding: 25px 0px;
}

.post-card-header {
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

.post-container {
  width: 80%;
  padding: 20px;
  margin: auto;
}

.post-header {
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 10px;
}

.section-wrapper {
  text-align: center;
  color: white;
  background-color: black;
  text-align: center;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 20px !important;
}

.tag {
  display: inline-block;
  margin: 5px 5px 0px 0px;
}

a {
  color: white;
}

a:hover {
  font-weight: bold;
}

ul {
  margin: 0;
}

@media (max-width: 600px) {

  .background {
    width: 100%;
    padding: 100px 0px 100px 0px;
    background-image: url('./images/space-backing.png');
  }

  .card-container {
    width: 85%;
  }

  .post-container {
    width: 100%;
  }
}

@media (min-width: 1000px) {

  .background {
    width: 100%;
    padding: 100px 0px 100px 0px;
    background-image: url('./images/space-backing.png');
  }

  .card-container {
    width: 60%;
  }
}
